@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
html,
body,
#root {
    height: 100%;
}

@layer base {
    @font-face {
        font-family: Bebas Neue;
        src: url("/font/BebasNeue-Regular.woff") format("woff");
    }
}

body {
    font-family: Bebas Neue;
}
